body {
    background-color: #333;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: sans-serif;
    color: #444;
}

h1 {
    font-size: 10em;
    margin: 0;
}

p {
    font-size: 5rem;
    margin: 0;
}

a {
    color: #888;
    text-decoration: none;
}